/*Section : Features */

section>.container {
	margin: 50px auto;
}

.feature {
	padding: 20px 0 20px 0;
	text-align: center;
	h1 {
		font-size: 35px;
	}
	p {
		color: #BDBDBD;
		max-width: 500px;
		margin: 0 auto;
	}
}
